body{
    margin: 0; 
    font-family: 'raleway';
}


header{
    padding-top: 24px; 
    padding-left: 120px; 
    display: flex;
    border-bottom: 1px solid;
}
.logo{
    height: 64px; 
}


.input-section{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 80px; 
   
}

input{
    border: none;
    height: 24px; 
    
}

textarea {
    border: none; 

}

.d-none {
    display: none !important ; 
}

.notefield{
    position:absolute;
    border: 1px solid lightgray; 
    border-radius: 12px;
    display: flex; 
    flex-direction: column; 
    width: 300px;
    box-shadow: 10px 2.5px 2.5px rgba(0, 0, 0, 0.2); 
}



.note-title{
    margin-bottom: 16px;
    border: none; 
}

.note-content{
    border: none; 
}

.notecard{
   display: flex; 
   flex-direction: column; 
    border: 1px solid lightgray; 
    border-radius: 12px; 
    height: 300px; 
    width: 300px; 
}


.sidebar{
    display: flex; 
    flex-direction: column;
    position: sticky; 
    width: 250px; 
    height: 100%;
    padding-top: 50px; 
}

.icon{
    height: 36px; 
    
}
.sidebar-links{
    cursor: pointer;
    border-radius: 12px; 
    padding: 8px; 
    display: flex; 
   
}

a{
    text-decoration: none;
    color: black;
}

.sidebar-links:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.note-section, .deletedNoteSection{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 50px; 
    
}

.notes-container{
    display: flex; 
    flex-direction: column;
    
}

a{
    display: flex; 
    align-items: center;
}


.empty-notes{
    display: flex; 
    
    font-weight: bold; 
}